WebContent/wsdl/UserCreation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://login" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://login" xmlns:intf="http://login" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://login" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="strUsername" type="xsd:string"/>
      <element name="strPassword" type="xsd:string"/>
      <element name="strApplicationPath" type="xsd:string"/>
      <element maxOccurs="unbounded" name="Parameters" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType>
     <sequence>
      <element name="createUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserCreation">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserCreationSoapBinding" type="impl:UserCreation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserCreationService">

      <wsdl:port binding="impl:UserCreationSoapBinding" name="UserCreation">

         <wsdlsoap:address location="http://localhost:8080/Choice/services/UserCreation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
